viikko2/unicafe/src/__pycache__/
viikko2/unicafe/src/tests/__pycache__ 
viikko2/unicafe/.coverage
viikko2/unicafe/htmlcov

.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
__pycache__
*.py[cod]
*$py.class

data/database.sqlite

